# Environnement virtuel
.venv/
venv/
env/

# Base de données SQLite
db.sqlite3

# Fichiers de configuration sensibles
.env
*.pyc
__pycache__/
*.log

# Fichiers statiques collectés (seront générés sur le serveur)
staticfiles/

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
